{% extends 'main/base.html' %}
{% load static i18n main_tags markitup_tags %}

{% block title %}{% trans 'Tasks' %}{% endblock title %}

{% block assets %}
<link href="{% static "css/markit.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <p>{{ article.id }}</p>
    <p>{{ article.day }}</p>
    <div class="markdown-body">{{ article.text }}</div>
    
    <a href="{% url 'article-update' article.id %}">
        <button type="button" class="btn btn-primary">{% trans 'Edit' %}</button>
    </a>
{% endblock %}
