{% extends 'main/base.html' %}
{% load static i18n main_tags %}

{% block title %}{% trans 'Tasks' %}{% endblock title %}

{% block content %}
    <p>{{ task.subject|title }}</p>

    <div class="row">
        <div class="col-lg-6 col-md-9 col-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>{% trans 'Key' %}</th>
                        <th>{% trans 'Value' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% as_table object %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'task-update' task.id %}">
        <button type="button" class="btn btn-primary">{% trans 'Edit' %}</button>
    </a>
    <a href="{% url 'task-delete' task.id %}">
        <button type="button" class="btn btn-danger">{% trans 'Delete' %}</button>
    </a>
{% endblock %}
