{% extends 'main/base.html' %}
{% load i18n bootstrap4 main_tags %}

{% block title %}{% trans 'Tasks' %}{% endblock title %}

{% block content %}
    <a href="{% url 'tasks:task-create' %}">{% trans 'Create task' %}</a>
    <ul>
        {% for task in object_list %}
            <li>
                <a href="{% url 'tasks:task-detail' task.id %}">#{{ task.id }} {{ task.project }} - {{ task.subject }}
                    ({{ task.status }}) ({{ task.change_time|naturaltime }})</a>
            </li>
        {% endfor %}
    </ul>

    {% bootstrap_pagination page_obj %}
{% endblock %}
