{% load static i18n bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans 'Main page' %}{% endblock %} - {% trans 'App name' %}</title>
    <script src="{% static "js/jquery-3.5.1.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" id="bootstrap-css">
    {% block assets %}{% endblock %}
</head>

<body>
<div class="container">
    {% include 'widgets/change_language.html' %}
    {% bootstrap_messages %}

    {% block content %}
    {% endblock %}
    <div>
</body>

</html>
